#difficulty {
  width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.level {
  border: 1px solid orange;
  margin: 0.25rem;
  border-radius: 25%;
}
