.sidebar {
  border: 3px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#gameplay {
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 50%;
  margin: 0.125rem 0.25rem;
}
