#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  width: 100vw;
  overflow: hidden;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-page {
  display: flex;
}

.mobile {
  flex-direction: column;
}

#sidebar {
  position: relative;
  right: 0;
}
    
p {
  font-family: "Courier New"
}
